@model City

@{
    ViewData["Title"] = "حذف المدينة ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">						
    <div class="col-xl-8">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">هل أنت متأكد من حذف هذه المدينة ؟ </h3>
            </div>
            <div class="card-body mb-0">
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.NameAr)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.NameAr)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.NameEn)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.NameEn)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CountryEn)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CountryEn)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CountryAr)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CountryAr)
                    </dd>
                
                </dl>
    
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>

